// Catppuccin Latte patterns ☕️

$crust: #dce0e8 !default;
$mantle: #e6e9ef !default;
$base: #eff1f5 !default;
$surface0: #ccd0da !default;
$surface1: #bcc0cc !default;
$surface2: #acb0be !default;
$overlay0: #9ca0b0 !default;
$overlay1: #8c8fa1 !default;
$overlay2: #7c7f93 !default;
$subtext0: #6c6f85 !default;
$subtext1: #5c5f77 !default;
$text: #4c4f69 !default;

$lavender: #7287fd !default;
$blue: #1e66f5 !default;
$sapphire: #209fb5 !default;
$sky: #04a5e5 !default;
$teal: #179299 !default;
$green: #40a02b !default;
$yellow: #df8e1d !default;
$peach: #fe640b !default;
$maroon: #e64553 !default;
$red: #d20f39 !default;
$mauve: #8839ef !default;
$pink: #ea76cb !default;
$flamingo: #dd7878 !default;
$rosewater: #dc8a78 !default;

$accent: $blue !default;
$root-background: $crust !default;