// Catppuccin patterns

$crust: #11111b !default;
$mantle: #181825 !default;
$base: #1e1e2e !default;
$surface0: #313244 !default;
$surface1: #45475a !default;
$surface2: #585b70 !default;
$overlay0: #6c7086 !default;
$overlay1: #7f849c !default;
$overlay2: #9399b2 !default;
$subtext0: #a6adc8 !default;
$subtext1: #bac2de !default;
$text: #cdd6f4 !default;

$lavender: #b4befe !default;
$blue: #89b4fa !default;
$sapphire: #74c7ec !default;
$sky: #89dceb !default;
$teal: #94e2d5 !default;
$green: #a6e3a1 !default;
$yellow: #f9e2af !default;
$peach: #fab387 !default;
$maroon: #eba0ac !default;
$red: #f38ba8 !default;
$mauve: #cba6f7 !default;
$pink: #f5c2e7 !default;
$flamingo: #f2cdcd !default;
$rosewater: #f5e0dc !default;

$accent: $blue !default;
$root-background: $crust !default;