$crust: #232a2e !default;
$mantle: #2d353b !default;
$base: #343f44 !default;
$surface0: #3d484d !default;
$surface1: #475258 !default;
$surface2: #4f585e !default;
$overlay0: #56635f !default;
$overlay1: #859289 !default;
$overlay2: #9da9a0 !default;
$subtext0: #a7b0ae !default;
$subtext1: #bdc3be !default;
$text: #d3c6aa !default;

$lavender: #d699b6 !default;
$blue: #7fbbb3 !default;
$sapphire: #83c092 !default;
$sky: #83c092 !default;
$teal: #83c092 !default;
$green: #a7c080 !default;
$yellow: #dbbc7f !default;
$peach: #e69875 !default;
$maroon: #e67e80 !default;
$red: #e67e80 !default;
$mauve: #d699b6 !default;
$pink: #d699b6 !default;
$flamingo: #e69875 !default;
$rosewater: #d3c6aa !default;

$accent: $green !default;
$root-background: $crust !default;