$crust: #1d2021 !default;
$mantle: #282828 !default;
$base: #32302f !default;
$surface0: #3c3836 !default;
$surface1: #504945 !default;
$surface2: #665c54 !default;
$overlay0: #7c6f64 !default;
$overlay1: #928374 !default;
$overlay2: #a89984 !default;
$subtext0: #bdae93 !default;
$subtext1: #d5c4a1 !default;
$text: #ebdbb2 !default;

$lavender: #d3869b !default;
$blue: #83a598 !default;
$sapphire: #8ec07c !default;
$sky: #8ec07c !default;
$teal: #8ec07c !default;
$green: #b8bb26 !default;
$yellow: #fabd2f !default;
$peach: #fe8019 !default;
$maroon: #fb4934 !default;
$red: #fb4934 !default;
$mauve: #d3869b !default;
$pink: #d3869b !default;
$flamingo: #fe8019 !default;
$rosewater: #ebdbb2 !default;

$accent: $peach !default;