$crust: #242933 !default;
$mantle: #2e3440 !default;
$base: #3b4252 !default;
$surface0: #434c5e !default;
$surface1: #4c566a !default;
$surface2: #4c566a !default;
$overlay0: #d8dee9 !default;
$overlay1: #e5e9f0 !default;
$overlay2: #eceff4 !default;
$subtext0: #eceff4 !default;
$subtext1: #eceff4 !default;
$text: #eceff4 !default;

$lavender: #b48ead !default;
$blue: #81a1c1 !default;
$sapphire: #88c0d0 !default;
$sky: #8fbcbb !default;
$teal: #8fbcbb !default;
$green: #a3be8c !default;
$yellow: #ebcb8b !default;
$peach: #d08770 !default;
$maroon: #bf616a !default;
$red: #bf616a !default;
$mauve: #b48ead !default;
$pink: #b48ead !default;
$flamingo: #d08770 !default;
$rosewater: #e5e9f0 !default;

$accent: $blue !default;
$root-background: $crust !default;