$crust: #16161e !default;
$mantle: #1a1b26 !default;
$base: #24283b !default;
$surface0: #292e42 !default;
$surface1: #414868 !default;
$surface2: #565f89 !default;
$overlay0: #787c99 !default;
$overlay1: #a9b1d6 !default;
$overlay2: #cfc9c2 !default;
$subtext0: #9aa5ce !default;
$subtext1: #cfc9c2 !default;
$text: #c0caf5 !default;

$lavender: #7aa2f7 !default;
$blue: #7aa2f7 !default;
$sapphire: #7dcfff !default;
$sky: #0db9d7 !default;
$teal: #1abc9c !default;
$green: #9ece6a !default;
$yellow: #e0af68 !default;
$peach: #ff9e64 !default;
$maroon: #f7768e !default;
$red: #f7768e !default;
$mauve: #bb9af7 !default;
$pink: #f7768e !default;
$flamingo: #ff9e64 !default;
$rosewater: #c0caf5 !default;

$accent: $mauve !default;
$root-background: $crust !default;