@use "pattern.scss" as p;

#MPRIS {
    background-color: p.$green;
    color: p.$crust;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 16px;

    &:hover {
        background-color: p.$surface1;
    }

    .icon-label {
        color: p.$crust;
    }
}