@use "vars" as p;
@use "animation.scss" as a;
@use "sass:color";

button.sysmon {
    background-image: none;
    box-shadow: none;
    border: none;
    outline: none;

    background-color: p.$teal;
    color: p.$crust;
    border-radius: 14px; 
    padding: 0 12px;

    // 5. Interactivity
    &:hover {
        background-color: color.adjust(p.$teal, $lightness: 5%);
    }

    &:active {
        background-color: color.adjust(p.$teal, $lightness: -5%);
    }

    // 6. Status styling
    .warning {
        @include a.flashing-animation;
        color: #d20f39; 
    }

    .temp-icon {
        margin-left: 6px;
    }
}